<div class="preview_area">
  <table class="full_preview">
    <tr>
        <% if image = get_entry_image( content )[0] %>
            <td class="preview_image" style="vertical-align: top">
              <%= link_to image_tag(image, :height=>"75"), short_url( url )  %>
            </td>
        <% end %>
        <td class="preview_text">
          <div class="title" style="font-size: 14px"><%= link_to title, short_url( url ), :class => "title_link" %></div>
          <%= extract_snippet( content ) %> &nbsp;<%= link_to "more", short_url( url ) %>
        </td>
    </tr>
  </table>
</div>