<div class="page-container container-fluid">

  <!-- Page title -->
  <div class="row-fluid">
    <div class="page-title span12">
      <h1>Thanks for signing up!</h1>
    </div>
  </div>

  <div class="row-fluid">
    <div class="page-description span6">
      <p>Be Sure to tell your friends!</p>
    </div>
  </div>

</div>