<div class="page-container container-fluid">

  <!-- Page title -->
  <div class="row-fluid">
    <div class="page-title span12">
      <h1>Thanks for signing up!</h1>
    </div>
  </div>

  <div class="row-fluid">
    <div class="page-description span6">
      <p>Check your inbox for a confirmation email</p>
      <p>Let your neighbors know how to get their local read:</p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.thelocalread.com" data-text="Get local writing delivered to your inbox once a week" data-via="thelocalread">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>

</div>